html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: $dark-mode-very-dark-gray-blue-gray-blue;
    color: $dark-mode-light-gray;
}
.container{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../images/bg-desktop-dark.jpg);
    @include breakpoint(smx) {
        background-size: 100%;
        background-image: url(../../images/bg-mobile-dark.jpg);
    }
    
}