@include breakpoint(xs) {
    .container{
        &__todoField{
          width: $size-300;
        }
        &__todos{
            width: $size-264;
        }
        &__menu{
            width: $size-300;
            font-size: $size-12;
        }
    }
}
@include breakpoint(smx) {
    .container{
        &__todoField{
          width: $size-360;
        }
        &__todos{
            width: $size-323;
        }
        &__menu{
            width: $size-363;
            font-size: $size-12;
        }
    }
}