.container{
    display: grid;
    justify-content: center;
    margin:  auto;  
    &__h1{
        padding-top: 90px;
    }
    &__todoField{
        width: 500px;
        height: 60px;
        color: $dark-mode-light-gray;
        background-color: $light-mode-very-dark-gray-blue-gray-blue1;
        border: none;
        border-radius: 5px;
    }
    &__todos{
        width: 467px;
        background-color: $light-mode-very-dark-gray-blue-gray-blue1;
        border-radius: 5px;
    }
    &__listtodo{
        height: 60px;
    }
    &__todolist{
        list-style: none;
        display: flex;
    }
    &__menu{
        width: 500px;
        height: 60px;
        color: $dark-mode-light-gray;
        background-color: $light-mode-very-dark-gray-blue-gray-blue1;
        display: flex;
       
    }
    &__center{
        margin: auto 30px;
    }
    &__count{
        padding-top: 30px;
    }
    @include breakpoint(smx) {
        &__todoField{ 
            width: 325px;
        }  
    }
    @include breakpoint(smx) {
        &__todos{ 
            width: 317px;
        }  
    }
    label{
        padding-top: 25px;
        padding-left: 10px;
    }
}