.container{
    display: grid;
    justify-content: center;
    margin:  auto;  
    &__h1{
        padding-top: 90px;
    }
    &__todoField{
        width: 500px;
        height: 60px;
        color: $dark-mode-light-gray;
        background-color: $light-mode-very-dark-gray-blue-gray-blue1;
        border: none;
        border-radius: 5px;
    }
    &__todos{
        width: 467px;
        background-color: $light-mode-very-dark-gray-blue-gray-blue1;
        border-radius: 5px;
    }
    &__listtodo{
        height: 60px;
    }
    &__todolist{
        list-style: none;
        display: flex;
    }
    &__menu{
        width: 505px;
        height: 43px;
        border-radius: 5px;
        color: $dark-mode-light-gray;
        background-color: $light-mode-very-dark-gray-blue-gray-blue1;
        display: flex;
        margin: auto;
        justify-content: center;
        gap: 40px;
        padding-top: 30px;
    }
    &__button {
        border: none;
        background: none;
        height: 0;
        padding: 0;
        color: $dark-mode-light-gray
    }
    label{
        padding-top: 25px;
        padding-left: 10px;
    }
}