// *******************
// *** Main Colors ***
// *******************

$primary_color: hsl(220, 98%, 61%);
$check_background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

// *****************
// *** Dark Mode ***
// *****************

$dark-mode-light-gray: hsl(0, 0%, 98%);
$dark-mode-light-gray-blue: hsl(236, 33%, 92%);
$dark-mode-gray-blue: hsl(233, 11%, 84%);
$dark-mode-dark-gray-blue: hsl(236, 9%, 61%);
$dark-mode-very-dark-gray-blue-gray-blue: hsl(235, 19%, 35%);

// ******************
// *** Light Mode ***
// ******************

$light-mode-dark-blue: hsl(235, 21%, 11%);
$light-mode-dark-Desaturated-blue: hsl(235, 24%, 19%);
$light-mode-gray-blue: hsl(234, 39%, 85%);
$light-mode-gray-blue-hover: hsl(236, 33%, 92%);
$light-mode-dark-gray-blue: hsl(234, 11%, 52%);
$light-mode-very-dark-gray-blue-gray-blue: hsl(233, 14%, 35%);
$light-mode-very-dark-gray-blue-gray-blue1: hsl(237, 14%, 26%);